@import url(droparea.css);

input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--stroke-default);
    padding: 0.75rem 1rem;
    font-family: var(--font-family);
    box-sizing: border-box;
}
.input-wrapper {
    width: 100%;
}
label {
    font-family: var(--font-family);
    color: var(--text-secundary);
    display: block;
    margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus
input[type="date"]:focus-within {
    outline: 0.25rem solid var(--surface-secundary);
    border: 0.125rem solid var(--stroke-highlight);
    outline-offset: 0.1px;
}

input[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(../../assets/icons/calendar-03.png) center/contain;
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        
    }

}


select {
    background: url(../../assets/icons/arrow-down-01.png) 
    no-repeat calc(100% - 1rem);
}
