:root {
    /* Font family and size */
    --font-family: 'Poppins', sans-serif;
    --text: 400 1rem/1.5 var(var(--font-family));
    --text-sm: 400 0.875rem/1.4 var(var(--font-family))


    /* Text Colors */
    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    /* Brand Colors */
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    /* Surface colors  */
    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    /* Stroke colors */
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;
    
    /* Error color */
    --semantic-error: #DC2626;


}